*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.header-item{
    background-color: rgba(233, 233, 229, 0.858);
    justify-content: space-between;
    background-image: url(/portfolio-resources-main/images/header_bg.png),url(/portfolio-resources-main/images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right ,left;
    
    
}


nav-title{
    font-size: 45px;
    font-weight: 900px;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-item{
    color: brown;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 50px 200px;
  

}
.nav-button{
    height: 55px;
    width: 150px;
    background-image: linear-gradient(orange,tomato);
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;

}
nav li{
    list-style: none;
    margin-right: 30px;
    

}
nav ul{
    display: flex;
    align-items: center;
   
}
.baner{
    display: flex;
    margin: 0 10px 0px 200px;
    align-items: center;
    
}
.baner-title{
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.baner-item{
    font-size: 40px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.baner-discription{
    font-size: 15px;
    color: rgb(220, 210, 210);
    margin-bottom: 30px;
}
.bamer-button{
    height: 55px;
    width: 180px;
    padding:10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    border: none;
}


    




    




/* main start */
main{
    max-width: 1200px;
    margin: 0 auto;
 /* about me  start  */
.about{
    margin-top: 130px;
    background-color: rgba(255, 235, 205, 0.559);
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
}

}
.about-title{
   text-align: center; 
    margin-bottom:30px ; 
    font-size: 25px;
    font-weight: 700;
}
.about-discription{
    color:darkgrey;
    font-size: 18px;
    text-align: center;
    margin: 45px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
   
}
.info-title{
    color: darkgrey;
    font-size: 18px;
}
.info-description{
    font-size: 18px;
    font-weight: 700;



}
/* what i do start */
.what{
   
    margin: 0px auto;
   
   
}


.what-do-title{
    margin-top:130px;
  
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom:30px ; 
}



.what-do-discription{
    color: darkgray;
    font-size: 18px;
    padding:0px 150px ;
    margin-bottom: 30px;
    text-align: center;
    }
.skile-continer{
    display: flex;
    gap: 30px;
}
.siles{
   
    background-color: rgba(235, 240, 240, 0.926);
    box-shadow:10px 10px 40px gainsboro ;
    border-radius: 5px;
    border: none;
    padding: 40px;
   
}
.skile-title{
    font-size:20px ;
    font-weight: 700;
    margin-bottom:20px ;
}

.skile-discription{
   font-size: 18px; 
   color: darkgrey;
}
/* Resume style start */
.resume-vari-container{
    margin-top: 130px;
    
}
.resume-portfolio{
    display: flex;
    gap:40px;
}
   
  

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:100px ;
}
.resume-title{
    font-size: 25px;
    font-weight:800;
    margin-bottom: 20px;

}
.resume-type{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume-item{

    font-size:16px ;
    font-weight: 600;
    color: darkgray;
    margin-bottom: 20px;
}
.resume-discription{
     color:rgba(170, 164, 164, 0.833);
     font-size:15px;
     margin-bottom: 20px;
}
.resume-botton{
    height: 50px;
    background-image: linear-gradient( orange ,tomato);
    color:aliceblue;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    padding:10px 40px;
    border: none;

}
.border{
    margin-top: 30px;
    text-align: center;
}
/* contact style */
.contact .section-title{
    align-items: left;
   
}
.contact{
    display: flex;
    margin-top: 130px;
    background-color: rgba(209, 213, 213, 0.405);
    gap: 100px;
    padding: 130px 200px;
}
.contact input[type="text"], input[type="email"]  ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 12px 25px;
}
input{
    height:40px ;
 
}

.section-title{
    font-size:20px ;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
  
.section-dicoration{
    font-size: 16px;
    color:rgba(161, 157, 157, 0.903);
    margin-bottom: 30px;
}
a{
    margin-right: 20px;
    text-decoration: none;
}

    




